body {
  margin: 0;
  font-family: 'NanumPenScript-Regular'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face{
    font-family:'NanumPenScript-Regular';
    font-style:normal;
    font-weight:normal;
    src:url("./font/NanumPenScript-Regular.ttf") format("truetype")
}